<div class="main_title add_top_60 add_bottom_60">
    <h2><span>We </span>also Provide</h2>
    <p>Quisque at tortor a libero posuere laoreet vitae sed arcu. Curabitur consequat.</p>
</div>

<div class="container margin_15 add_bottom_60">
    <h3 class="mobile-title">Badriville Special <span>Herbal Tea</span></h3>
    <div class="row small-gutters categories_grid">

        <div class="col-sm-12 col-md-6 wow zoomIn" data-wow-delay="0.3s">
            <span class="more-img-padding" style="border-radius: 7px;">

                <img src="../../../assets/img/herbal_tea.jpg" alt="" class="img-fluid more-img"
                    style="border-radius: 7px; width: 100%;">

            </span>
        </div>
        <div class="col-sm-12 col-md-6" id="padding-left">
            <h3 class="desktop-title">Badriville Special <span>Herbal Tea</span></h3>
            <p>
                <b>Ingredients :</b>
                Lemon Grass, Badri Tulsi, Tej Patta, Mint, Thyme, Rose, Daman, Choru, Burans, Timur ,
                Rudravanti.
            </p>
            <b>Benefits :</b>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-6">
                    <ul class="list_ok">
                        <li>Improved Immune System</li>
                        <li>Full of Antioxidants</li>
                        <li>Good Source of Vitamins</li>
                        <li>Anti Cancerous</li>
                        <li>Improves Memory</li>
                        <li>Improves Metabolism</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="list_ok">
                        <li>Stress Reliever</li>
                        <li>Boosts Liver and Lung Capacity</li>
                        <li>Weight Lose</li>
                        <li>Improves Blood Circulation</li>
                        <li>Sugar Free</li>
                    </ul>
                </div>
            </div>
            <br />
            <button class="btn_1" type="submit" onclick="document.location= 'contact_us.html'">Contact
                Us</button>
        </div>
    </div>

</div>


<div class="container">
    <div class="main_title">
        <h2>Other<span> Badriville Products</span></h2>
        <p>Quisque at tortor a libero posuere laoreet vitae sed arcu. Curabitur consequat.</p>
    </div>

    <div class="container ">
        <div class="row">
            <div class="col-lg-12">
                <div class="shop-section">
                    <!--start of row-->
                    <div class="row">
                        <!--start of container-->
                        <div class="container">
                            <div
                                class="owl-carousel owl-theme owl-carousel-product list_carousel add_bottom_30 owl-loaded owl-drag">
                                <owl-carousel-o [options]="products">
                                    <ng-template carouselSlide>
                                        <div class="shop-item col-lg-12 col-md-12 col-sm-12">
                                            <div class="inner-box">
                                                <div class="image-box">
                                                    <figure class="image">
                                                        <a href="#"><img
                                                                src="../../../assets/img/products/herbal_tea.jpg"
                                                                alt="">
                                                        </a>
                                                    </figure>
                                                    <div class="item-options clearfix">
                                                        <a href="#" class="btn_shop"><span class="icon-basket"></span>
                                                            <div class="tool-tip">
                                                                Add to cart
                                                            </div>
                                                        </a>
                                                        <a href="#" class="btn_shop"><span class="icon-heart-8"></span>
                                                            <div class="tool-tip">
                                                                Add to Fav
                                                            </div>
                                                        </a>
                                                        <a href="#" class="btn_shop"><span class="icon-eye"></span>
                                                            <div class="tool-tip">
                                                                View
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="product_description">
                                                    <div class="rating">
                                                        <i class="icon-star voted"></i><i class="icon-star voted"></i><i
                                                            class="icon-star voted"></i><i
                                                            class="icon-star voted"></i><i class="icon-star-empty"></i>
                                                    </div>
                                                    <h3><a href="#">Herbal Tea</a></h3>
                                                    <div class="price">
                                                        <span class="offer">$20.00</span> $15.00
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--End Shop Item-->
                                    </ng-template>
                                    <ng-template carouselSlide>
                                        <div class="shop-item col-lg-12 col-md-12 col-sm-12">
                                            <div class="inner-box">
                                                <div class="image-box">
                                                    <figure class="image">
                                                        <a href="#"><img
                                                                src="../../../assets/img/products/pahadi_rajma.jpg"
                                                                alt="">
                                                        </a>
                                                    </figure>
                                                    <div class="item-options clearfix">
                                                        <a href="#" class="btn_shop"><span class="icon-basket"></span>
                                                            <div class="tool-tip">
                                                                Add to cart
                                                            </div>
                                                        </a>
                                                        <a href="#" class="btn_shop"><span class="icon-heart-8"></span>
                                                            <div class="tool-tip">
                                                                Add to Fav
                                                            </div>
                                                        </a>
                                                        <a href="#" class="btn_shop"><span class="icon-eye"></span>
                                                            <div class="tool-tip">
                                                                View
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="product_description">
                                                    <div class="rating">
                                                        <i class="icon-star voted"></i><i class="icon-star voted"></i><i
                                                            class="icon-star voted"></i><i
                                                            class="icon-star voted"></i><i class="icon-star-empty"></i>
                                                    </div>
                                                    <h3><a href="#">Pahadi Rajma</a></h3>
                                                    <div class="price">
                                                        <span class="offer">$20.00</span> $15.00
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--End Shop Item-->
                                    </ng-template>
                                    <ng-template carouselSlide>
                                        <div class="shop-item col-lg-12 col-md-12 col-sm-12">
                                            <div class="inner-box">
                                                <div class="image-box">
                                                    <figure class="image">
                                                        <a href="#"><img
                                                                src="../../../assets/img/products/pahadi_namak.jpg"
                                                                alt="">
                                                        </a>
                                                    </figure>
                                                    <div class="item-options clearfix">
                                                        <a href="#" class="btn_shop"><span class="icon-basket"></span>
                                                            <div class="tool-tip">
                                                                Add to cart
                                                            </div>
                                                        </a>
                                                        <a href="#" class="btn_shop"><span class="icon-heart-8"></span>
                                                            <div class="tool-tip">
                                                                Add to Fav
                                                            </div>
                                                        </a>
                                                        <a href="#" class="btn_shop"><span class="icon-eye"></span>
                                                            <div class="tool-tip">
                                                                View
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="product_description">
                                                    <div class="rating">
                                                        <i class="icon-star voted"></i><i class="icon-star voted"></i><i
                                                            class="icon-star voted"></i><i
                                                            class="icon-star voted"></i><i class="icon-star-empty"></i>
                                                    </div>
                                                    <h3><a href="#">Pahadi Namak(Salad Dressing)</a></h3>
                                                    <div class="price">
                                                        <span class="offer">$10.00</span> $5.00
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--End Shop Item-->
                                    </ng-template>
                                    <ng-template carouselSlide>
                                        <div class="shop-item col-lg-12 col-md-12 col-sm-12">
                                            <div class="inner-box">
                                                <div class="image-box">
                                                    <figure class="image">
                                                        <a href="#"><img
                                                                src="../../../assets/img/products/jamboo_faran.jpg"
                                                                alt="">
                                                        </a>
                                                    </figure>
                                                    <div class="item-options clearfix">
                                                        <a href="#" class="btn_shop"><span class="icon-basket"></span>
                                                            <div class="tool-tip">
                                                                Add to cart
                                                            </div>
                                                        </a>
                                                        <a href="#" class="btn_shop"><span class="icon-heart-8"></span>
                                                            <div class="tool-tip">
                                                                Add to Fav
                                                            </div>
                                                        </a>
                                                        <a href="#" class="btn_shop"><span class="icon-eye"></span>
                                                            <div class="tool-tip">
                                                                View
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="product_description">
                                                    <div class="rating">
                                                        <i class="icon-star voted"></i><i class="icon-star voted"></i><i
                                                            class="icon-star voted"></i><i
                                                            class="icon-star voted"></i><i class="icon-star-empty"></i>
                                                    </div>
                                                    <h3><a href="#">Jamboo Faran</a></h3>
                                                    <div class="price">
                                                        $22.00
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--End Shop Item-->
                                    </ng-template>
                                    <ng-template carouselSlide>
                                        <div class="shop-item col-lg-12 col-md-12 col-sm-12">
                                            <div class="inner-box">
                                                <div class="image-box">
                                                    <figure class="image">
                                                        <a href="#"><img src="../../../assets/img/products/gehat.jpg"
                                                                alt="">
                                                        </a>
                                                    </figure>
                                                    <div class="item-options clearfix">
                                                        <a href="#" class="btn_shop"><span class="icon-basket"></span>
                                                            <div class="tool-tip">
                                                                Add to cart
                                                            </div>
                                                        </a>
                                                        <a href="#" class="btn_shop"><span class="icon-heart-8"></span>
                                                            <div class="tool-tip">
                                                                Add to Fav
                                                            </div>
                                                        </a>
                                                        <a href="#" class="btn_shop"><span class="icon-eye"></span>
                                                            <div class="tool-tip">
                                                                View
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="product_description">
                                                    <div class="rating">
                                                        <i class="icon-star voted"></i><i class="icon-star voted"></i><i
                                                            class="icon-star voted"></i><i
                                                            class="icon-star voted"></i><i class="icon-star-empty"></i>
                                                    </div>
                                                    <h3><a href="#">Gehat</a></h3>
                                                    <div class="price">
                                                        <span class="offer">$20.00</span> $15.00
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--End Shop Item-->
                                    </ng-template>
                                    <ng-template carouselSlide>
                                        <div class="shop-item col-lg-12 col-md-12 col-sm-12">
                                            <div class="inner-box">
                                                <div class="image-box">
                                                    <figure class="image">
                                                        <a href="#"><img
                                                                src="../../../assets/img/products/badri_tulsi.jpg"
                                                                alt="">
                                                        </a>
                                                    </figure>
                                                    <div class="item-options clearfix">
                                                        <a href="#" class="btn_shop"><span class="icon-basket"></span>
                                                            <div class="tool-tip">
                                                                Add to cart
                                                            </div>
                                                        </a>
                                                        <a href="#" class="btn_shop"><span class="icon-heart-8"></span>
                                                            <div class="tool-tip">
                                                                Add to Fav
                                                            </div>
                                                        </a>
                                                        <a href="#" class="btn_shop"><span class="icon-eye"></span>
                                                            <div class="tool-tip">
                                                                View
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="product_description">
                                                    <div class="rating">
                                                        <i class="icon-star voted"></i><i class="icon-star voted"></i><i
                                                            class="icon-star voted"></i><i
                                                            class="icon-star voted"></i><i class="icon-star-empty"></i>
                                                    </div>
                                                    <h3><a href="#">Badri Tulsi</a></h3>
                                                    <div class="price">
                                                        <span class="offer">$20.00</span> $15.00
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--End Shop Item-->
                                    </ng-template>
                                    <ng-template carouselSlide>
                                        <div class="shop-item col-lg-12 col-md-12 col-sm-12">
                                            <div class="inner-box">
                                                <div class="image-box">
                                                    <figure class="image">
                                                        <a href="#"><img
                                                                src="../../../assets/img/products/sundry_pudina.jpg"
                                                                alt="">
                                                        </a>
                                                    </figure>
                                                    <div class="item-options clearfix">
                                                        <a href="#" class="btn_shop"><span class="icon-basket"></span>
                                                            <div class="tool-tip">
                                                                Add to cart
                                                            </div>
                                                        </a>
                                                        <a href="#" class="btn_shop"><span class="icon-heart-8"></span>
                                                            <div class="tool-tip">
                                                                Add to Fav
                                                            </div>
                                                        </a>
                                                        <a href="#" class="btn_shop"><span class="icon-eye"></span>
                                                            <div class="tool-tip">
                                                                View
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="product_description">
                                                    <div class="rating">
                                                        <i class="icon-star voted"></i><i class="icon-star voted"></i><i
                                                            class="icon-star voted"></i><i
                                                            class="icon-star voted"></i><i class="icon-star-empty"></i>
                                                    </div>
                                                    <h3><a href="#">Sundry Pudina</a></h3>
                                                    <div class="price">
                                                        <span class="offer">$20.00</span> $15.00
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--End Shop Item-->
                                    </ng-template>
                                </owl-carousel-o>

                            </div>
                        </div>
                        <!--end of container-->
                    </div>
                    <!--end of row-->
                </div>
            </div>
        </div>
    </div>


    <div class="container margin_30">
        <div class="row">
            <div class="col-lg-12">
                <div class="shop-section">
                    <!--start of row-->
                    <div class="row">
                        <!--start of container-->
                        <div class="container">
                            <div
                                class="owl-carousel owl-theme owl-carousel-product list_carousel add_bottom_30 owl-loaded owl-drag">
                                <owl-carousel-o [options]="products">
                                    <ng-template carouselSlide>
                                        <div class="shop-item col-lg-12 col-md-12 col-sm-12">
                                            <div class="inner-box">
                                                <div class="image-box">
                                                    <figure class="image">
                                                        <a href="#"><img
                                                                src="../../../assets/img/products/pure_himalayan honey.jpg"
                                                                alt="">
                                                        </a>
                                                    </figure>
                                                    <div class="item-options clearfix">
                                                        <a href="#" class="btn_shop"><span class="icon-basket"></span>
                                                            <div class="tool-tip">
                                                                Add to cart
                                                            </div>
                                                        </a>
                                                        <a href="#" class="btn_shop"><span class="icon-heart-8"></span>
                                                            <div class="tool-tip">
                                                                Add to Fav
                                                            </div>
                                                        </a>
                                                        <a href="#" class="btn_shop"><span class="icon-eye"></span>
                                                            <div class="tool-tip">
                                                                View
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="product_description">
                                                    <div class="rating">
                                                        <i class="icon-star voted"></i><i class="icon-star voted"></i><i
                                                            class="icon-star voted"></i><i
                                                            class="icon-star voted"></i><i class="icon-star-empty"></i>
                                                    </div>
                                                    <h3><a href="#">Pure Himalayan Honey</a></h3>
                                                    <div class="price">
                                                        <span class="offer">$10.00</span> $5.00
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--End Shop Item-->
                                    </ng-template>
                                    <ng-template carouselSlide>
                                        <div class="shop-item col-lg-12 col-md-12 col-sm-12">
                                            <div class="inner-box">
                                                <div class="image-box">
                                                    <figure class="image">
                                                        <a href="#"><img
                                                                src="../../../assets/img/products/havan_samagris.jpg"
                                                                alt="">
                                                        </a>
                                                    </figure>
                                                    <div class="item-options clearfix">
                                                        <a href="#" class="btn_shop"><span class="icon-basket"></span>
                                                            <div class="tool-tip">
                                                                Add to cart
                                                            </div>
                                                        </a>
                                                        <a href="#" class="btn_shop"><span class="icon-heart-8"></span>
                                                            <div class="tool-tip">
                                                                Add to Fav
                                                            </div>
                                                        </a>
                                                        <a href="#" class="btn_shop"><span class="icon-eye"></span>
                                                            <div class="tool-tip">
                                                                View
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="product_description">
                                                    <div class="rating">
                                                        <i class="icon-star voted"></i><i class="icon-star voted"></i><i
                                                            class="icon-star voted"></i><i
                                                            class="icon-star voted"></i><i class="icon-star-empty"></i>
                                                    </div>
                                                    <h3><a href="#">Badri's Havan Samagris</a></h3>
                                                    <div class="price">
                                                        $22.00
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--End Shop Item-->
                                    </ng-template>
                                    <ng-template carouselSlide>
                                        <div class="shop-item col-lg-12 col-md-12 col-sm-12">
                                            <div class="inner-box">
                                                <div class="image-box">
                                                    <figure class="image">
                                                        <a href="#"><img
                                                                src="../../../assets/img/products/badri_dhoop.jpg"
                                                                alt="">
                                                        </a>
                                                    </figure>
                                                    <div class="item-options clearfix">
                                                        <a href="#" class="btn_shop"><span class="icon-basket"></span>
                                                            <div class="tool-tip">
                                                                Add to cart
                                                            </div>
                                                        </a>
                                                        <a href="#" class="btn_shop"><span class="icon-heart-8"></span>
                                                            <div class="tool-tip">
                                                                Add to Fav
                                                            </div>
                                                        </a>
                                                        <a href="#" class="btn_shop"><span class="icon-eye"></span>
                                                            <div class="tool-tip">
                                                                View
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="product_description">
                                                    <div class="rating">
                                                        <i class="icon-star voted"></i><i class="icon-star voted"></i><i
                                                            class="icon-star voted"></i><i
                                                            class="icon-star voted"></i><i class="icon-star-empty"></i>
                                                    </div>
                                                    <h3><a href="#">Badri's Dhoop</a></h3>
                                                    <div class="price">
                                                        <span class="offer">$20.00</span> $15.00
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--End Shop Item-->
                                    </ng-template>
                                    <ng-template carouselSlide>
                                        <div class="shop-item col-lg-12 col-md-12 col-sm-12">
                                            <div class="inner-box">
                                                <div class="image-box">
                                                    <figure class="image">
                                                        <a href="#"><img
                                                                src="../../../assets/img/products/herbs_chatni_mix.jpg"
                                                                alt="">
                                                        </a>
                                                    </figure>
                                                    <div class="item-options clearfix">
                                                        <a href="#" class="btn_shop"><span class="icon-basket"></span>
                                                            <div class="tool-tip">
                                                                Add to cart
                                                            </div>
                                                        </a>
                                                        <a href="#" class="btn_shop"><span class="icon-heart-8"></span>
                                                            <div class="tool-tip">
                                                                Add to Fav
                                                            </div>
                                                        </a>
                                                        <a href="#" class="btn_shop"><span class="icon-eye"></span>
                                                            <div class="tool-tip">
                                                                View
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="product_description">
                                                    <div class="rating">
                                                        <i class="icon-star voted"></i><i class="icon-star voted"></i><i
                                                            class="icon-star voted"></i><i
                                                            class="icon-star voted"></i><i class="icon-star-empty"></i>
                                                    </div>
                                                    <h3><a href="#">Herbs Chatni Mix</a></h3>
                                                    <div class="price">
                                                        <span class="offer">$20.00</span> $15.00
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--End Shop Item-->
                                    </ng-template>
                                    <ng-template carouselSlide>
                                        <div class="shop-item col-lg-12 col-md-12 col-sm-12">
                                            <div class="inner-box">
                                                <div class="image-box">
                                                    <figure class="image">
                                                        <a href="#"><img
                                                                src="../../../assets/img/products/pure_badri_ghee.jpg"
                                                                alt="">
                                                        </a>
                                                    </figure>
                                                    <div class="item-options clearfix">
                                                        <a href="#" class="btn_shop"><span class="icon-basket"></span>
                                                            <div class="tool-tip">
                                                                Add to cart
                                                            </div>
                                                        </a>
                                                        <a href="#" class="btn_shop"><span class="icon-heart-8"></span>
                                                            <div class="tool-tip">
                                                                Add to Fav
                                                            </div>
                                                        </a>
                                                        <a href="#" class="btn_shop"><span class="icon-eye"></span>
                                                            <div class="tool-tip">
                                                                View
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="product_description">
                                                    <div class="rating">
                                                        <i class="icon-star voted"></i><i class="icon-star voted"></i><i
                                                            class="icon-star voted"></i><i
                                                            class="icon-star voted"></i><i class="icon-star-empty"></i>
                                                    </div>
                                                    <h3><a href="#">Pure Badri Ghee</a></h3>
                                                    <div class="price">
                                                        <span class="offer">$20.00</span> $15.00
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--End Shop Item-->
                                    </ng-template>
                                </owl-carousel-o>


                            </div>
                        </div>
                        <!--end of container-->
                    </div>
                    <!--end of row-->
                </div>
            </div>
        </div>
    </div>
</div>