<div class="container mt-4">
    <h3 class="mobile-title"><span>Badriville Resort</span></h3>
    <div class="row small-gutters categories_grid">
        <div class="col-sm-12 col-md-6 wow zoomIn" data-wow-delay="0.3s">
            <a href="#" class="more-img-padding" style="border-radius: 7px;">

                <img src="../../../../assets/img/home_resorts/image_1.jpg" alt=""
                    class="img-fluid resort-slides resort-slides-hidden more-img"
                    style="border-radius: 7px; width: 100%;">
                <img src="../../../../assets/img/home_resorts/image_2.jpg" alt=""
                    class="img-fluid resort-slides resort-slides-hidden more-img"
                    style="border-radius: 7px; width: 100%;">
                <img src="../../../../assets/img/home_resorts/image_3.jpg" alt=""
                    class="img-fluid resort-slides resort-slides-hidden more-img"
                    style="border-radius: 7px; width: 100%;">
                <img src="../../../../assets/img/home_resorts/image_4.jpg" alt=""
                    class="img-fluid resort-slides resort-slides-hidden more-img"
                    style="border-radius: 7px; width: 100%;">
                <img src="../../../../assets/img/home_resorts/image_5.jpg" alt=""
                    class="img-fluid resort-slides resort-slides-hidden more-img"
                    style="border-radius: 7px; width: 100%;">

            </a> 
        </div>
        <div class="col-sm-12 col-md-6" id="padding-left">
            <h3 class="desktop-title"><span>Badriville Resort</span></h3>
            <p>
                Badriville Resort and Nature Camp - Badrinath
                
            </p>
            <ul class="list_order" *ngFor="let item of resortStayList" [innerHTML]="item.description">
            </ul>
            <button class="btn_1 mx-2" onclick="document.location='resorts.html'" type="submit">More details</button>
            <button class="btn_1 mx-2" type="submit" onclick="document.location= 'contact_us.html'">Contact
                Us</button>
        </div>
    </div>
</div>