<div class="main_title add_top_60 add_bottom_60">
    <h2><span>We </span>also Provide</h2>
   
</div>
<div class="container margin_15 add_bottom_60">
    <h3 class="mobile-title">Badriville Special <span>Herbal Tea</span></h3>
    <div class="row small-gutters categories_grid">
        <div class="col-sm-12 col-md-6 wow zoomIn" data-wow-delay="0.3s">
            <span class="more-img-padding" style="border-radius: 7px;">
                <img src="../../../assets/img/herbal_tea.jpg" alt="" 
                class="img-fluid more-img speacial-product-img"
                style="border-radius: 7px; width: 100%;">
            </span>
        </div>
        <div class="col-sm-12 col-md-6" id="padding-left">
            <h3 class="desktop-title mt-remove">Badriville Special <span>Herbal Tea</span></h3>
            <div *ngFor="let item of spacilaProductList"
            [innerHTML]="item.description"></div>
            <button class="btn_1">Contact Us</button>
        </div>
    </div> 
</div> 