<div id="preloader">
  <div class="sk-spinner sk-spinner-wave">
    <div class="sk-rect1"></div>
    <div class="sk-rect2"></div>
    <div class="sk-rect3"></div>
    <div class="sk-rect4"></div>
    <div class="sk-rect5"></div>
  </div>
</div>
<!-- End Preload -->

<div class="layer"></div>
<!-- Mobile menu overlay mask -->

<!-- Header================================================== -->
<header>
  <div id="top_line">
    <div class="container">
      <div class="row">
        <div class="col-6"><i class="icon-phone"></i><strong>
            <a href="tel://9412418725" class="phone" style="color:white;">(+91) 9412418725 </a>
            <a href="tel://8126281997" class="phone" style="color:white;">(+91) 8126281997 </a></strong>
        </div>
        <div class="col-6">
        </div>
      </div><!-- End row -->
    </div><!-- End container-->
  </div><!-- End top line-->

  <div class="container">
    <div class="row">
      <div class="col-3">
        <div id="logo_home">
          <h1><a href="index.html" title="Badriville - Resort,Homestay,Nature Camp,Trekking and Touring">Badriville -
              Resort,Homestay,Nature Camp,Trekking and Touring</a></h1>
        </div>
      </div>
      <nav class="col-9">
        <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu
            mobile</span></a>
        <div class="main-menu">
          <div id="header_menu">
            <img src="../../../../assets/img/logo/logo_sticky.png" width="160" height="34" alt="Badri ville resorts" data-retina="true">
          </div>
          <a href="#" class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
          <ul>
            <li class="submenu">
              <a href="index.html" class="show-submenu">Home</a>
            </li>
            <li class="submenu">
              <a href="javascript:void(0);" class="show-submenu">Hotels <i class="icon-down-open-mini"></i></a>
              <ul>
                <li><a href="resorts.html">Badriville Resort</a></li>
                <li><a href="homestay.html">Badriville Homestay</a></li>
              </ul>
            </li>
            <li class="submenu">
              <a href="javascript:void(0);" class="show-submenu">Our Services <i class="icon-down-open-mini"></i></a>
              <ul>
                <li><a href="spiritual_tour.html">Spiritual Tour</a></li>
                <li><a href="yoga_camp_at_himalaya.html">Yoga Camp at Himalaya</a></li>
                <li><a href="village_tour_stay.html">Village Tour</a></li>
                <li><a href="nature_camping.html">Nature Camping</a></li>
                <li><a href="trekking.html">Trekking</a></li>
                <li><a href="mountain_biking.html">Mountain Biking</a></li>
                <li><a href="motor_cycle_tour.html">Motorcycle Tour</a></li>
                <li><a href="skiing.html">Skiing</a></li>
                <li><a href="wildlife_safari.html">Wildlife Safari</a></li>
                <li><a href="equipiment_hire.html">Equipment Hire</a></li>
              </ul>
            </li>
            <li class="submenu">
              <a href="about_us.html" class="show-submenu">About Us</a>
            </li>
            <li class="submenu">
              <a href="contact_us.html" class="show-submenu">Contact Us</a>
            </li>
            <li class="submenu fadeimg">
              <div id="fadeshow">
                <div class="social-icon">
                  <img src="../../../../assets/img/logo/kubera2.png" class="visible-img" width="80" height="60" alt="Badri ville resorts"
                    data-retina="true" style="border-radius: 10px;">
                  <img class="normal-social" src="https://img.icons8.com/material-rounded/25/ffffff/facebook-f--v2.png"
                    style="padding-right:10px">
                  <img class="normal-social" src="https://img.icons8.com/ios/25/ffffff/instagram-new--v1.png" />
                  <img class="sticky-social" src="https://img.icons8.com/material-rounded/25/000000/facebook-f--v2.png"
                    style="padding-right:10px">
                  <img class="sticky-social"
                    src="https://img.icons8.com/material-outlined/25/000000/instagram-new--v2.png" />
                </div>
              </div>
            </li>
            <li class="social-icon-float">

            </li>
          </ul>
        </div>
        <!-- End main-menu -->
      </nav>
    </div>
  </div><!-- container -->
</header>
<!-- End Header -->
